<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
</head>
<body>
    <div class="access_denied">
        <h1>You are not allowed to access by this way</h1>
        <p>Please go through signing in page to get access</p>
    </div>
</body>

<style>
    .access_denied{
        text-align: center;
        font-weight: bold;
        margin: 10em auto 4em;
    }
</style>
</html>